{% extends 'admin/home.html.twig' %}
{% block title %}
    ArtHive | Reports
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}
{% block content %}
    {# Your content for the posts page goes here #}

    <h1>this is the page of Reports</h1>
{% endblock %}