{% extends 'admin/home.html.twig' %}
{% block title %}
    ArtHive | Users
{% endblock %}

{% block stylesheets %}
    {{ parent() }}

{% endblock %}
{% block content %}
    {# Your content for the posts page goes here #}

    <h1>this is the page of users</h1>
    
            <div class="recent-orders" style="margin-top:100px">
                <table>
                    <thead>
                        <tr>
                            <th style="margin-right:20px">Nom</th>
                            <th>Email</th>
                            <th>Ville</th>
                            <th>Date Naissance</th>
                            <th>Num Tel</th>
                            <th>Role</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                </table>
            </div>
       

{% endblock %}
        
