{% extends 'feed.html.twig' %}

{% block title %}Edit Groups{% endblock %}

{% block content %}
    <h1>Edit Groups</h1>

    {{ include('groups/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_groups_index') }}">back to list</a>

    {{ include('groups/_delete_form.html.twig') }}
{% endblock %}
