<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
   <!-- <link rel="stylesheet" href="/css/style.css" -->
   
    <title>ArtHive</title>
       <style>

@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;500;600&family=Lemon&family=Patua+One&family=Poppins:wght@200;400;500;600;700;800;900&display=swap');
*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body{
    width: 100%;
    overflow-x: hidden;
    height: auto;
    position: relative;
    background-color: rgb(224, 223, 223);
}

/* nav{
    z-index: 10;
    position: sticky;
    top: 0;
    margin-top: 10px;
    
} */
nav .wrapper{
    position: absolute;
    top: 0;
    height: 10vh;
    width: 100%;
}

nav .nav-container{
    width: 100%;
    height: 100%;
    margin:  0 60px;
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav .nav-container img{
    width: 170px;
}

nav .nav-container .links a{
    font-size: 1.3rem;
    color: black;
    text-decoration: none;
    margin: 0 20px;
    transition: 0.2s linear;
}

nav .nav-container .links a:hover{
    color: rgb(60, 41, 235);
    
}

nav .nav-container .search {
    width: 320px;
    box-shadow: 1px 1px 20px white;
    height: 5vh;
    display: flex;
    border-radius: 20px;
    overflow: hidden;
    border: 1px solid white;
}
nav .nav-container .search input{
    width: 86%;
    padding-left: 15px;
    font-size: 1    rem;
    height: 100%;
    background-color: transparent;
    color: white;
    border: none;
    outline: none;   
}
nav .nav-container .search i{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.4rem;
    width: 14%;
    cursor: pointer;
    height: 100%;
}

section{
    width: 100%;
    height: 100vh;
    overflow: hidden;

}

/* landing page */

.landingpage{
    background-image: url(images/backk.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.landingpage .content{
    display: flex;
    margin-top: 150px;
    justify-content: space-around;
    align-items: center;
}

.landingpage .content .heading{
    margin-top: -100px;
    max-width:460px ;
    width: 100%;
}

.landingpage .content .heading h3{
    color: rgb(73, 15, 200);
    font-size: 3.6rem;
}   
.landingpage .content .heading h1{
    color: black;
    line-height: -2rem;
    font-size: 2.5rem;
}
.landingpage .content .heading p{
    color: black;
    font-size: 1.2rem;
}
.landingpage .content .heading button{
    width: 130px;
    height: 50px;
    margin: 20px;
    cursor: pointer;
    box-shadow: 2px 2px 10px rgb(73, 15, 200);
    letter-spacing: 1.5px;
    word-spacing: 5px;
    background: rgb(16, 13, 226);
    color: white;
    border-radius: 20px;
    font-family: 'Patua One', serif;
    transition: 0.5s linear;
}

.landingpage .content .heading button:hover{
    scale: 1.05;
}

.landingpage .content .image img{
    width: 700px;
    transform: rotate(40deg);
}



/* about us */
.aboutus{
    /*box-shadow: -5px -5px 100px black ;*/
    background: rgb(253, 253, 253);
}

.aboutus .container{
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: space-evenly;
    display: flex;
}

.aboutus .container .aboutus-content{
    color: rgb(12, 7, 7);
    width: 30%;
}
/*.aboutus .container  img{
    filter: drop-shadow(0 0 10px white);
}*/
.aboutus .container .aboutus-content h1{
    text-align: center;
    margin-bottom: 20px;
    font-family: 'Patua One', serif;
    color: rgb(22, 10, 190);
    letter-spacing: 1px;
    font-size: 4rem;
}

.aboutus .container .aboutus-content p{
    font-size: 1.4rem;
    text-align: center;
}



/* Food Details */

.details-foods{
    background-color: rgb(69, 9, 210);
}

.details-foods .title{
    width: 100%;
    margin: 30px 0;
    height: auto;
    display: flex;
    justify-content: center;
}

.details-foods .title h1{
    font-size: 3rem;
    color: white;
    text-align: center;
    width: 40%;
}

.details-foods .foods{
    margin: 0 20px;
    display: flex;
    justify-content: space-around;
}
.details-foods .foods .card{
    margin: 0 40px;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 1px 1px 10px white;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.details-foods .foods:hover .card{
    scale: 1.1;
    transition: 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.details-foods .foods:hover .card:not(:hover){
    opacity: 0.2;
    backdrop-filter: blur(10px);
    scale: 1;
}
.details-foods .foods .card img{
    width: 70%;
    margin: 0% 15% ;
}

.details-foods .foods .card .discription{
    color: white;
    margin:0 10px;
}
.details-foods .foods .card .discription h1{
    
    font-family: 'Patua One', serif;
    letter-spacing: 1px;
    margin: 8px 0;
    text-align: center;
}

.details-foods .foods .card .discription p{
    float: left;
    margin-left: 1px;
}
.details-foods .foods .card .discription .price{
    float: right;
    font-family: 'Lemon', serif;
    margin:10px 20px 10px 0;
}


/* download section */

.download{
    background-color: rgb(249, 249, 249);
}

.download .container{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.download .container .image img{
    width: 300px;
    pointer-events: none;
    margin-left: 40px;
}

.download .container .content{
    color: rgb(11, 5, 5);
    width: 40%;
}
.download .container .content h1{
    font-size: 5rem;
}
.download .container .content p{
    font-size: 1.5rem;
    margin: 10px 0;
}
.download .container .content .icons{
    width: 70%;
    display: flex;
    margin: 40px 20px;
    justify-content: space-around;
}
.download .container .content .icons img{
    width: 40%;
    cursor: pointer;
}

</style>
    
</head>
<body>
    <nav>
        <div class="wrapper">
            <div class="nav-container">
                <img src="images/logoArtHive.png" alt="">
                <div class="links">
                    <a href="">Accueil</a>
                    <a href="">A propos</a>
                    <a href="">Art</a>
                    <a href="">App</a>
                </div>
                <div class="search">
                    <input type="search" placeholder="Rechercher">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </div>
               
            </div>
        </nav>
        </div>

{% block content %}
<!-- Landing Page -->
<section class="landingpage">
    <div class="content">
        <div class="heading" data-aos="fade-right" data-aos-duration="2000">
            <h3>ArtHive</h3>
            <h1>Créativité, <br> dans chaque coup de pinceau</h1>
            <p>L'art n'est pas ce que vous voyez, mais ce que vous faites voir aux autres.</p>
       <!--   <button  data-aos="fade-right" data-aos-duration="2000" data-aos-delay="00">Créer nouveau compte</button>-->   
            <button data-aos="fade-right" data-aos-duration="1000" data-aos-delay="00" onclick="window.location.href='/login'">Commencer</button>

        </div>           
        <div class="image">
            <img src="images/1.png" data-aos="zoom-in" data-aos-duration="2000">
        </div>
    </div>
</section>

<section class="aboutus">
    <div class="container">
        <img src="images/Apropos.jpeg" data-aos="zoom-in" data-aos-duration="1000">
        <div class="aboutus-content">
            <h1 data-aos="fade-left" data-aos-duration="1000">A propos</h1>
            <p data-aos="fade-left" data-aos-duration="1000" data-aos-delay="200">Bienvenue sur ArtHive, cette plateforme est dédiée à l'expression artistique. Passionnés par l'art sous toutes ses formes, fournir un espace où les artistes peuvent partager leur créativité, trouver de l'inspiration et se connecter avec d'autres passionnés d'art. Que vous soyez un peintre, un sculpteur, un photographe ou un artiste dans tout autre domaine, ArtHive est là pour vous accompagner dans votre voyage artistique. Rejoignez cette communauté et explorez un monde d'opportunités artistiques.</p>
        </div>
    </div>
</section>

<section class="details-foods">
    <div class="title"><h1 data-aos="fade-left" data-aos-duration="1000" >Découvrez les fonctionnalités</h1></div>
    <div class="foods">
        <div class="card" data-aos="fade-up" data-aos-duration="1000">
            <img src="images/events.png" alt="">
            <div class="discription">
                <h1> Événements</h1>
                <p>Découvrez une multitude d'événements artistiques, des expositions aux ateliers, et participez à des rencontres inspirantes avec d'autres passionnés d'art.</p>
            </div>
        </div>
        <div class="card" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="200">
            <img src="images/groupes.png" alt="">
            <div class="discription">
                <h1>Groupes</h1>
                <p>Rejoignez des groupes thématiques pour échanger avec d'autres artistes, partager des idées, et collaborer sur des projets artistiques ensemble.</p>
            </div>
        </div>
        <div class="card" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="400">
            <img src="images/shop (2).png" alt="">
            <div class="discription">
                <h1>Marketplace</h1>
                <p>Explorez notre marketplace où vous pouvez découvrir et publier des œuvres d'art uniques, et explorer un monde d'opportunités artistiques.</p>
            </div>
        </div>
        <div class="card" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="600">
            <img src="images/postt.png" alt="">
            <div class="discription">
                <h1>Publications</h1>
                <p>Découvrez notre module de publication où vous pouvez partager vos œuvres d'art avec une communauté mondiale, et élargir votre audience artistique.</p>
            </div>
        </div>
    </div>
</section>

<section class="download">
    <div class="container">
        <div class="image">
            <img src="images/desktop2.png" style="widht: 300; height: 400;" data-aos="zoom-in" data-aos-duration="1000" >
            <img src="images/loginDesktop.png" style="widht: 300; height: 400;" data-aos="zoom-in" data-aos-duration="1000" data-aos-delay="200">
        </div>
        <div class="content" data-aos="fade-left" data-aos-duration="1000">
                <h1>Disponible sur Microsoft Store</h1>
                <p>Téléchargez notre application sur Microsoft Store.</p>
                <div class="icons">
                    <img src="images/image.png" data-aos="fade-left" data-aos-duration="1000" data-aos-delay="200">
                </div>
        </div>
    </div>
</section>
{% endblock %}

{% block scripts %}
<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
<script>
  AOS.init();
</script>
{% endblock %}

</body>
</html>
