<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <link rel="stylesheet" href="style.css">
    <title>ArtHive</title>
</head>
<body>
    <nav>
        <div class="wrapper">
            <div class="nav-container">
                <img src="images/logoArtHive.png" alt="">
                <div class="links">
                    <a href="">Accueil</a>
                    <a href="">A propos</a>
                    <a href="">Art</a>
                    <a href="">App</a>
                </div>
                <div class="search">
                    <input type="search" placeholder="Rechercher">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </div>
            </div>
        </nav>
        </div>

<!-- Landing Page -->
<section class="landingpage">
    <div class="content">
        <div class="heading" data-aos="fade-right" data-aos-duration="2000">
            <h3>ArtHive</h3>
            <h1>Créativité, <br> dans chaque coup de pinceau</h1>
            <p>L'art n'est pas ce que vous voyez, mais ce que vous faites voir aux autres.</p>
            <button  data-aos="fade-right" data-aos-duration="2000" data-aos-delay="00">Créer nouveau compte</button>
            <button  data-aos="fade-right" data-aos-duration="1000" data-aos-delay="00">Se connecter</button>

        </div>           
        <div class="image">
            <img src="images/1.png" data-aos="zoom-in" data-aos-duration="2000">
        </div>
    </div>
</section>

<section class="aboutus">
    <div class="container">
        <img src="images/Apropos.jpeg" data-aos="zoom-in" data-aos-duration="1000">
        <div class="aboutus-content">
            <h1 data-aos="fade-left" data-aos-duration="1000">A propos</h1>
            <p data-aos="fade-left" data-aos-duration="1000" data-aos-delay="200">Bienvenue sur ArtHive, cette plateforme est dédiée à l'expression artistique. Passionnés par l'art sous toutes ses formes, fournir un espace où les artistes peuvent partager leur créativité, trouver de l'inspiration et se connecter avec d'autres passionnés d'art. Que vous soyez un peintre, un sculpteur, un photographe ou un artiste dans tout autre domaine, ArtHive est là pour vous accompagner dans votre voyage artistique. Rejoignez cette communauté et explorez un monde d'opportunités artistiques.</p>
        </div>
    </div>

</section>

<section class="details-foods">
    <div class="title"><h1 data-aos="fade-left" data-aos-duration="1000" >Découvrez les fonctionnalités</h1></div>
    <div class="foods">
        <div class="card" data-aos="fade-up" data-aos-duration="1000">
            <img src="images/event.png" alt="">
            <div class="discription">
                <h1> Événements</h1>
                <p>Découvrez une multitude d'événements artistiques, des expositions aux ateliers, et participez à des rencontres inspirantes avec d'autres passionnés d'art.</p>
            </div>
        </div>
        <div class="card" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="200">
            <img src="images/groupes.png" alt="">
            <div class="discription">
                <h1>Groupes</h1>
                <p>Rejoignez des groupes thématiques pour échanger avec d'autres artistes, partager des idées, et collaborer sur des projets artistiques ensemble.</p>
            </div>
        </div>
        <div class="card" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="400">
            <img src="images/shop (2).png" alt="">
            <div class="discription">
                <h1>Marketplace</h1>
                <p>Explorez notre marketplace où vous pouvez découvrir et publier des œuvres d'art uniques, et explorer un monde d'opportunités artistiques.</p>
            </div>
        </div>
        <div class="card" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="600">
            <img src="images/postt.png" alt="">
            <div class="discription">
                <h1>Publication</h1>
                <p>Découvrez notre module de publication où vous pouvez partager vos œuvres d'art avec une communauté mondiale, et élargir votre audience artistique.</p>
            </div>
        </div>
    </div>
</section>
<section class="download">
    <div class="container">
        <div class="image">
            <img src="images/phone2.png" data-aos="zoom-in" data-aos-duration="1000" >
            <img src="images/phone1.png" data-aos="zoom-in" data-aos-duration="1000" data-aos-delay="200">
        </div>
        <div class="content" data-aos="fade-left" data-aos-duration="1000">
                <h1>Disponible sur Microsoft Store</h1>
                <p>Téléchargez notre application sur Microsoft Store.</p>
                <div class="icons">
                    <img src="images/image.png" data-aos="fade-left" data-aos-duration="1000" data-aos-delay="200">
                </div>
        </div>
    </div>

</section>


<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
<script>
  AOS.init();
</script>
</body>
</html>