<!-- templates/email/bad_word_warning.html.twig -->
<html>
<head>
    <title>Warning: Inappropriate Comment</title>
</head>
<body>
    <p>Hello {{ username }},</p>
    <p>We noticed that you used inappropriate language in your recent comment on our platform. This is a violation of our community guidelines.</p>
    <p>If you continue to use such language, you may be banned from our platform.</p>
    <p>Thank you for your understanding.</p>
</body>
</html>